/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #0d1117;
    color: #00ffff;
}

/* Sidebar Styles */
.sidebar {
    width: 175px;
    background-color: #2c2626;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.neon-text {
    color: #ffad33; /* Light neon orange color */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    display: block;
    border: 2px solid #00ffff; /* Default white border */
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.sidebar a:hover {
    color: #fff;
    border: 2px solid #ffad33; /* Light neon orange border on hover */
    box-shadow: 0 0 10px #ffad33, 0 0 20px #ffad33, 0 0 30px #ffad33; /* Neon orange glow effect */
}

/* User Info */
.user-info {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
}


/* Main Content Area */
.main-content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
}

/* Header Styles */
.header {
    padding: 10px 20px;
    border-bottom: 1px solid #24b3b3;
    background-color: transparent; /* Optional background for clarity */
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between items */
    font-family: Arial, sans-serif;
    gap: 15px; /* Space between items */
}

.status p {
    margin: 0;
    font-size: 14px;
    color: #00ffff;
    display: flex;
    align-items: center; /* Aligns inline content (like text and status indicator) */
}

.status-indicator {
    width: 10px;
    height: 10px;
    background-color: #20c997;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px; /* Space between text and indicator */
}

/* Charts Container */
.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Individual Chart Box */
.chart-box {
    background: radial-gradient(circle, rgba(20, 20, 20, 1), rgba(10, 10, 30, 1));
    border: 1px solid #00ffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5);
    padding: 20px;
    width: 45%; /* Adjust for responsiveness */
    max-width: 600px;
    text-align: center;
}

.chart-box h2 {
    color: #00ffff;
    font-size: 18px;
    margin-bottom: 10px;
}
